@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
.todoApp {
    font-family: "Sunflower", sans-serif;
    background-color: #F5F5F5;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10vh auto;
    width: 60vw;
}
