@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
.title {
  font-family: "Sunflower", sans-serif;
  background-color: #777;
  color: #F5F5F5;
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;;
  align-items: center;
  width: 60vw;
}

.title span {
  font-size: 18px;
}
