@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
.todolist {
  font-family: "Sunflower", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20%;
  list-style: none;
}
